body, html{
    height: 100%;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: auto;
    display: inline-block;
}

h1 {
    position:absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
}
.title {
    font-family: 'Lato', sans-serif;
    color: #FFF;
}
.a {
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
b {
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
}
.my-button{
    font-size: 1.15em;
    color: #FFF;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

input.main {
    color: #FFF;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 50%; 
    text-align: left;
    width: 15px;
    height: 15px;
    opacity: 0.6;
}
input.main:hover{
    opacity:1.0;
}

.centre {
    position:absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

#background {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}