<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <title>Logout</title>
	  
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	  <script src="{% static "todoapp/js/todo.js" %}"></script>
  
	  <link rel="stylesheet" href="/static/todoapp/css/todo.css">
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">    
</head>
<body>
	{% block content %}
		<p>Logged out!</p>  
    	<a href="{% url 'login'%}">Click here to login again.</a>
  	{% endblock %}
</body>
</html>
