<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% providers_media_js %}
<html>
  <head>
	<title>Sign In</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="{% static "todoapp/js/todo.js" %}"></script>

	<link rel="stylesheet" href="/static/todoapp/css/todo.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">    

  </head>
  <body>

<a href="/accounts/signup/?next=%2F">Sign Up</a>

<h1 class = "title">Login</h1>	  

<div class= "centre">
		<div class= "a">
<div class="socialaccount_ballot">
<div id="fb-root"></div>
<script id="allauth-facebook-settings" type="application/json">
{"appId": "533268270417485", "version": "v2.4", "locale": "kr_KR", "initParams": {"appId": "533268270417485", "version": "v2.4"}, "loginOptions": {"auth_type": "reauthenticate", "scope": "email,public_profile,user_friends", "auth_nonce": "rqRaNKz8sa7Nlt1hprFDkKViE9j4vyQd"}, "loginByTokenUrl": "http://localhost:8000/accounts/facebook/login/token/", "cancelUrl": "http://localhost:8000/accounts/social/login/cancelled/", "logoutUrl": "http://localhost:8000/accounts/logout/", "loginUrl": "http://localhost:8000/accounts/facebook/login/", "errorUrl": "http://localhost:8000/accounts/social/login/error/", "csrfToken": "NIa48kkq6ze8f2ZOSDGdvqYJe6DuMXWA0aciWSNVllrRrlAssVwh3LkCOhZd0e0N"}
</script>
<script type="text/javascript" src="/static/facebook/js/fbconnect.js"></script>
<form class="login" method="POST" action="/accounts/login/">
	<div class= "my-button">
	<input type="hidden" name="csrfmiddlewaretoken" value="BQeef4b4OWOUczA9uveoE78IgqpyhHZqOigs3CEz3I1DoSbN4N4scsuBQBLhvY3D">
  <p><label for="id_login">Username:</label> <input type="text" name="login" placeholder="Username" autofocus="autofocus" maxlength="150" required id="id_login"></p>
<p><label for="id_password">Password:</label> <input type="password" name="password" placeholder="Password" required id="id_password"></p>
<p><label for="id_remember">Remember Me:</label> <input type="checkbox" name="remember" id="id_remember"></p>
  
  <input type="hidden" name="next" value="/" />
</div> 
  <!-- <a class="button secondaryAction" href="/accounts/password/reset/">Forgot Password?</a> -->
  <button class="primaryAction" type="submit">Sign In</button>
</form>
<br>
<div class="facebook">
<a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-facebook" style="background-color:#3b5998;text-align:center">
	<span class="fa fa-facebook"></span>
	 Sign in with Facebook
</a>
</div>

</div>
</div>
  </body>
</html>