{% extends 'allauth/account/base.html' %}
{% load i18n %}
{% load account %}
{% load static %}

    {% block content %}
        <div class="title">
            <h1>{% trans "Sign Out" %}</h1>
        </div>
        <form method="post" action="{% url 'account_logout' %}">
            <div class="centre">
                <div class="title">
            <p>{% trans 'Are you sure you want to sign out?' %}</p> 
            </div>
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class ="btn" type="submit">{% trans 'Sign Out' %}</button>
            </div>
        </form>
    {% endblock %}
