<!DOCTYPE html>
{% load i18n %}
{% load static %}
<head>
    <title>New Password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/todoapp/css/todo.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">    
</head>
<body>
    {% block content %}
        <h1 class = title>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            <div class ="centre">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn" type="submit">{% trans "Change Password" %}</button>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        {% endblock %}
    </body>
</html>

