{% extends 'allauth/account/base.html' %}
{% load i18n %}
{% load account %}
{% load static %}

{% block content %}
        <h1 class="title">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class= "centre">
            <div class= "a">              
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn" type="submit">{% trans "Reset My Password" %}</button>
                </form>
                <p class="my-button">{% blocktrans %}Please check your email to reset your password.{% endblocktrans %}</p>
                <p class="my-button">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    {% endblock %}
</body>
</html>
