<!DOCTYPE html>
{% load static %}
    <head>
        <title>{{ user.get_username }}'s Blog</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{% static "todoapp/js/blog.js" %}"></script>

        <link rel="stylesheet" href="/static/todoapp/css/blog.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
    <body>
            <div class="page-header">
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <h1>{{ user.get_username }}'s Blog</h1>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post-class">
                                <div class="date">
                                    {{ post.published_date }}
                                </div>
                            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <h2 class = "subtitle">{{ post.title }}</h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </body>
</html>